.dropDownWrap {
  // width: 20vw;
  position: absolute;
  top: 1vw;
  z-index: 2;

  color: white;
  right: 5vw;
  .dropdown-box {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4vw;
    font-size: 2vw;
    border-radius: 0.5vw;
    // border: 1px solid #ccc;
    cursor: pointer;
    background-color: #a82196;
    height: 5vw;
    border-radius: 3vw;
    .selected-language {
      // border: 1px solid;
      background-color: #191f3d;
      border-radius: 2vw 0 0 2vw;
      width: 16vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.4vw;
      font-family: "PoppinsMedium";
      font-size: 1.8vw;
      padding: 1vw;
    }

    .dropdown-icon {
      width: 4vw;
      // height: 3vw;
      fill: white;
      transition: transform 0.2s ease-in-out;
    }

    &.open .dropdown-icon {
      transform: rotate(180deg);
    }
  }

  .dropdown-menu {
    z-index: 1;
    background-color: #fff;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    width: 17vw;
    position: relative;
    left: 1vw;

    .dropdown-item {
      padding: 1vw;
      cursor: pointer;
      background-color: #191f3d;
      font-size: 1.8vw;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
