.game-board-item {
  width: 92%;
  height: 15vw;
  background-image: url("../assets/images/battle/rank-bar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vw;
  margin-top: 2vw;
  font-family: "PoppinsMedium";
  margin: 0 auto;

  .leftDiv {
    display: flex;
    // justify-content: center;
    align-items: center;
    // gap: 2vw;

    .index {
      font-family: "HiJack";
      font-size: 3vw;
      width: 6vw;
      text-align: center;
      span {
        font-family: "PoppinsMedium";
      }
    }
    .border-img {
      width: 2vw;
    }

    .user-avatar {
      width: 10vw;
      border-radius: 100%;

      z-index: 0;
      margin-left: 1vw;
      margin-right: 1vw;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      font-family: "Helvetica";
      position: relative;
      // left: -1.5vw;
      font-size: 2.5vw;
      .name {
        font-size: 2.7vw;
        width: 15vw;

        height: 4vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
      }
      img {
        width: 11vw;
      }
    }
  }
  .middleDiv {
    font-family: "Helvetica";
    background-color: #213270;
    // width: 90%;
    display: flex;
    border-radius: 3vw;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 2.5vw;
    display: flex;
    // height: 4vw;
    padding: 2vw;
    width: 21vw;
    // height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 2.5vw;
    }
    span {
    }
  }
  .rightDiv {
    min-width: 20vw;
    padding: 3vw;
    height: 7vw;
    background-color: #0f0c30;
    display: flex;
    align-items: center;
    position: relative;
    right: 6vw;
    border-radius: 2vw;
    border: 1px solid;
    justify-content: center;

    img {
      width: 5vw;
    }
    span {
      font-size: 3vw;
      font-family: "PoppinsMediumItalic";
      position: relative;
      left: 1vw;
    }
  }

  .giftingRightDiv {
    width: 25vw;
    height: 7vw;
    background-color: #0f0c30;
    display: flex;
    align-items: center;
    position: relative;
    right: 6vw;
    border-radius: 2vw;
    border: 1px solid;
    justify-content: center;
    padding: 1vw;
    // gap: 1vw;

    // .gem-img {
    //   width: 3vw;
    // }
    // .bean-img {
    //   width: 4vw;
    // }
    img {
      width: 4vw;
    }
    span {
      font-size: 2.5vw;
      font-family: "PoppinsMediumItalic";
      position: relative;
      left: 0.7vw;
    }
  }
}
