.header {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 86vw;
  width: 100%;
  // border: 2px solid;
  background-image: url("../assets/images/battle/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  // .guide-btn{
  //     background-image: url('../assets/images/guide-btn.png');
  //     background-repeat: no-repeat;
  //     background-size: 100% 100%;
  //     width: 20vw;
  //     height: 10vw;
  //     position: absolute;
  // right: 0;
  // top: 64vw;
  // }
}
