.overlay {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 5vw;

  .content {
    width: 80%;
    min-height: 106vw;
    // height: 106vw;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    animation: fadeIn 0.3s ease-in-out;
  }

  .guide-popup {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      background-image: url("../assets/images/event-gifting/cross-btn.png");

      width: 12vw;
      height: 12vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      left: 80vw;
      top: -13vw;
    }
    .guide-title {
      position: absolute;
      width: 69vw;
      left: 12vw;
      top: -17vw;
    }
    .guide-content {
      width: 93%;
      height: 110vw;
      position: relative;
      left: 3vw;
      top: 8vw;
      color: white;
      overflow-y: auto;
      // border: 1px solid;

      .guide-gifts {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 94%;
        // border: 1px solid wheat;
        top: -3vw;
        min-height: 43vw;
        left: 2vw;

        .gift-title {
          // font-size: 4vw;
          // font-family: "EvilEmpire";
          // color: white;

          font-size: 6vw;
          font-family: "EvilEmpire";
          color: white;
          position: relative;
          top: -5vw;
        }
        .gifts-container {
          display: flex;
          width: 95%;
        }
      }
      .howTitle {
        font-size: 5vw;
        font-family: "EvilEmpire";
        text-align: center;
      }
      .howToPlaySec {
        position: relative;
        // min-height: 20vw;
        // border: 1px solid red;
        // height: 74vw;
        // overflow-y: auto;

        .acc-section {
          display: flex;
          flex-direction: column;
          gap: 16vw;
          margin-top: 3vw;
        }
        .event-gft-cont {
          // border: 1px solid;
          position: relative;
          top: 11vw;
          padding: 3vw;
          font-family: "PoppinsMedium";

          .e-title {
            font-size: 3vw;
            text-align: center;
            color: white;
          }
          ol {
            padding-left: 6vw;
            font-size: 2.5vw;
          }
        }
      }
    }

    .guide-content::-webkit-scrollbar {
      width: 1vw;
      background-color: gray;
    }

    /* Track */
    .guide-content::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 1vw;
    }

    /* Handle */
    .guide-content::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 2vw;
    }

    /* Handle on hover */
    .guide-content::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }
  }

  .rewards-history {
    width: 100%;
    height: 100%;
    position: relative;

    .title-div {
      width: 77vw;
      height: 8vw;
      // background-color: #ce9735;

      border-radius: 5vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 3vw;
      color: white;
      // background-image: url("../assets/images/popups/rewards-hist-title.png");
      background-size: 100% 100%;
      background-position: center;
      position: absolute;
      top: 5vw;
      left: 2vw;

      .time-img {
        width: 15vw;
      }

      .rewa-img {
        width: 18vw;
      }
    }

    .history-content {
      width: 81vw;
      height: 74vw;
      position: relative;
      top: 14vw;
      left: 2vw;
      // display: flex;
      // flex-direction: column;
      gap: 1vw;
      overflow-y: auto;
      // border: 1px solid yellow;

      .no-rec-found {
        position: relative;
        top: 24vw;
        font-size: 5vw;
        font-family: "ROG";
        color: white;

        text-align: center;
      }
    }
    .history-content::-webkit-scrollbar {
      width: 1vw;
      background-color: gray;
    }

    /* Track */
    .history-content::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 1vw;
    }

    /* Handle */
    .history-content::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 2vw;
    }

    /* Handle on hover */
    .history-content::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }

    .closeBtn {
      // background-image: url("../assets/images/common/close-btn.png");

      width: 12vw;
      height: 12vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      // bottom: -15vw;
      left: 36vw;
      top: 101vw;
    }
    .title {
      position: absolute;
      top: -3vw;
      left: 3vw;
      width: 78vw;
    }
  }

  .game-popup {
    width: 81vw;
    height: 83vw;
    // border: 1px solid red;
    position: relative;
    left: 4vw;

    .text {
      position: absolute;
      width: 81vw;
      height: 19vw;
      bottom: 0vw;
      font-size: 4vw;
      color: white;

      p {
        position: relative;
        top: 2vw;
        font-size: 2.5vw;
      }
    }

    .decimal-warn {
      color: white;
      position: absolute;
      top: 32vw;
      left: 18vw;
      font-size: 3vw;
    }

    .closeBtn {
      //   background-image: url("../images/popups/close-button.png");
      // background-image: url("../assets/images/common/close-btn.png");

      width: 12vw;
      height: 12vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      top: -5vw;
      left: 65vw;
    }

    .game-rewards {
      // border: 1px solid green;
      width: 55vw;
      height: 43vw;
      position: absolute;
      top: 18vw;
      left: 12vw;
    }

    .error-mesg {
      position: absolute;
      top: 31vw;
      left: 26vw;
      color: white;
      font-family: "ROG";
    }
    .not-enough-points {
      position: absolute;
      top: 31vw;
      left: 10vw;
      color: white;
      font-family: "ROG";
    }
  }

  .battle-details {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      // background-image: url("../assets/images/common/close-btn.png");

      width: 10vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      // bottom: -13vw;
      left: 84vw;
      top: -15vw;
    }
    .title {
      width: 67vw;
      position: absolute;
      left: 14vw;
      top: -21vw;
    }
    .details-content {
      width: 100%;
      // height: 62vw;
      margin: 4vw auto 0 auto;
      overflow-y: auto;
      // height: 92vw;
      padding: 4vw;

      table {
        border: 0.4vw solid white;

        font-family: "PoppinsMedium";
        margin: 0 auto;
        width: 92%;
        font-size: 3vw;

        // border-collapse: collapse;
        border-spacing: 0;
        border-radius: 2vw;
        overflow: hidden;

        position: relative;
        top: 3vw;

        table,
        th,
        td {
          border: 0.4vw solid white;
        }

        .head {
          background-color: #b579bc;
        }

        tr th:last-child {
          border-right: none;
        }
        tr td {
          color: #6a579a;
          border: 0.4vw solid white;
          padding: 0.7vw;
          text-align: center;
          font-weight: bold;
        }

        tr td:last-child {
          border-right: none;
        }

        .reward-row {
          // height: 41vw;
          background-color: #d3c1ff;
        }
      }
    }
  }

  .battle-records {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      width: 9vw;
      position: absolute;
      // bottom: -13vw;
      left: 85vw;
      top: -12vw;
    }
    .title {
      position: absolute;
      top: -15vw;
      left: 14vw;
      width: 68vw;
    }
    .records-content {
      font-family: "PoppinsMedium";
      width: 91%;
      height: 72vw;
      // margin: 4vw auto 0 auto;
      overflow-y: auto;
      // height: 92vw;
      padding: 4vw;
      position: relative;
      top: 14vw;
      color: white;
      .table-wrap {
        border: 0.5vw solid #fae8bb;
        width: 100%;
        border-radius: 4vw;
        overflow: hidden;

        table {
          width: 100%;
          // border: 1vw solid #fae8bb;
          // border-spacing: 0;
          table-layout: fixed;

          border-collapse: collapse;
          border-radius: 4vw;

          .head td {
            background-color: #645194;
            padding: 2vw;
            // border: 0.5vw solid #fae8bb;
            font-size: 2vw;
            color: white;
          }

          tr td {
            border: 0.5vw solid #fae8bb;
            font-size: 2.5vw;
            color: #645194;
          }
          .bat-rec-rows {
            height: 22vw;
            background-color: #d3c1ff;
          }

          .battle-rec-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 5vw;
            }
            span {
              font-size: 1.8vw;
            }
          }
        }
      }
    }
  }

  .talent-records {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      width: 9vw;
      position: absolute;
      // bottom: -13vw;
      left: 85vw;
      top: -12vw;
    }
    .title {
      position: absolute;
      top: -15vw;
      left: 14vw;
      width: 68vw;
    }
    .records-content {
      font-family: "PoppinsMedium";
      width: 100%;
      height: 72vw;
      // margin: 4vw auto 0 auto;
      overflow-y: auto;
      // height: 92vw;
      padding: 4vw;
      position: relative;
      top: 14vw;
      color: white;
      overflow-x: hidden;
      .tour-table-wrap {
        border: 0.5vw solid #fae8bb;
        width: 95%;
        border-radius: 4vw;
        overflow: hidden;

        margin: 0 auto;
        table {
          width: 100%;

          table-layout: fixed;

          border-collapse: collapse;

          margin: 0 auto;

          .head td {
            background-color: #645194;
            padding: 3vw;
            font-size: 2vw;
            color: white;
          }

          tr td {
            border: 0.5vw solid #fae8bb;
            font-size: 2.5vw;
            color: #645194;
          }

          .tal-rec-rows {
            background-color: #d3c1ff;
          }
        }
      }
    }
  }

  .rps-game-popup {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      position: absolute;
      left: 70vw;
      top: -17vw;
      width: 8vw;
      z-index: 1;
    }
    .title {
      width: 60vw;
      position: absolute;
      left: 11vw;
      top: -14vw;
    }
    .rps-content {
      position: relative;
      color: white;
      font-family: "PoppinsMedium";
      top: 5vw;
      font-size: 3vw;
      height: 66vw;
      // border: 1px solid;
      width: 90%;
      left: 3vw;

      .success {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .p1 {
          font-size: 4vw;
          width: 80%;
          // border: 1px solid;
          margin-top: 7vw;

          .battle-icon {
            width: 7vw;
            display: inline-block;

            vertical-align: middle;
          }
        }

        .rew-section {
          margin-top: 3vw;
        }
        .rew-section-mul {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          border: 1px solid;
        }
        .bottom-text {
          position: relative;
          top: 9vw;
          font-size: 4vw;
        }
      }

      .multiple-play {
        .p1 {
          font-size: 3vw;
          position: relative;
          top: 7vw;

          .battle-icon {
            width: 7vw;
            display: inline-block;

            vertical-align: middle;
          }
        }
        .multiple-rews {
          width: 100%;
          // border: 1px solid;
          height: 47vw;
          overflow-y: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 auto;
          position: relative;
          top: 3vw;
        }
        .bottom-text {
          position: relative;
          top: 9vw;
          font-size: 3vw;
        }
      }
      .not-selected {
        width: 85%;
        height: 100%;
        font-size: 5vw;
        margin: 0 auto;
        div {
          img {
            width: 7vw;
            vertical-align: middle;
          }
        }
      }

      .enough-points {
        width: 100%;
        height: 100%;
        font-size: 5vw;
        div {
          img {
            width: 7vw;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .scratch-game-popup {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      position: absolute;
      left: 70vw;
      top: -17vw;
      width: 8vw;
      z-index: 1;
    }
    .title {
      width: 60vw;
      position: absolute;
      left: 11vw;
      top: -14vw;
    }
    .rps-content {
      position: relative;
      color: white;
      font-family: "PoppinsMedium";
      top: 1vw;
      font-size: 3vw;
      height: 66vw;
      // border: 1px solid;
      width: 90%;
      left: 3vw;
      .no-rews {
        position: relative;
        top: 14vw;
      }
      .success {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .p1 {
          font-size: 4vw;
          width: 80%;
          // border: 1px solid;
          margin-top: 7vw;

          .battle-icon {
            width: 7vw;
            display: inline-block;

            vertical-align: middle;
          }
        }
        .lucky-numbers {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          position: relative;
          top: 2vw;
        }
        .rew-section {
          margin-top: 3vw;
        }
        .bottom-text {
          position: relative;
          top: 11vw;
          font-size: 4vw;
        }
      }

      .enough-points {
        width: 100%;
        height: 100%;
        font-size: 5vw;

        position: relative;
        top: 11vw;
        div {
          img {
            width: 7vw;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .tour-game-popup {
    position: relative;
    width: 100%;
    height: 100%;
    .closeBtn {
      position: absolute;
      left: 70vw;
      top: -17vw;
      width: 8vw;
      z-index: 1;
    }
    .title {
      width: 60vw;
      position: absolute;
      left: 11vw;
      top: -14vw;
    }
    .rps-content {
      position: relative;
      color: white;
      font-family: "PoppinsMedium";
      top: 1vw;
      font-size: 3vw;
      height: 66vw;
      // border: 1px solid;
      width: 90%;
      left: 3vw;

      .success {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .p1 {
          font-size: 4vw;
          width: 80%;
          // border: 1px solid;
          margin-top: 7vw;

          .battle-icon {
            width: 7vw;
            display: inline-block;

            vertical-align: middle;
          }
        }
        .lucky-numbers {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          position: relative;
          top: 2vw;
        }
        .rew-section {
          margin-top: 3vw;
        }
        .bottom-text {
          position: relative;
          top: 11vw;
          font-size: 4vw;

          margin-left: 1vw;
          margin-right: 1vw;
        }
      }

      .enough-points {
        width: 100%;
        height: 100%;
        font-size: 5vw;

        position: relative;
        top: 11vw;
        div {
          img {
            width: 7vw;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
