.talent-tours {
  .tour-rec-btn {
    position: relative;
    top: 28vw;
    z-index: 1;
    right: -40vw;
    width: 21vw;
    left: 78.5vw;
  }
  .space-game {
    width: 90%;
    min-height: 270vw;
    position: relative;
    width: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url("../assets//images/tour/main-section-bg.png");
    margin-top: 7vw;

    .space-ticket-count {
      height: 17vw;
      width: 82%;
      background-size: 100% 100%;
      position: absolute;
      left: 9vw;
      top: -9vw;
      background-image: url(../assets/images/battle/game-points-counter-bar.png);
      z-index: 1;

      img {
        width: 5vw;
      }
      span {
        font-family: "PoppinsMediumItalic";
        font-size: 2.8vw;
        color: white;
      }
    }
    .sat-game-sec {
      position: relative;
      top: 18vw;
      color: white;
      font-family: "PoppinsMedium";
      p {
        width: 60%;
        margin: 0 auto;
        font-size: 4vw;
      }
      .game-bg {
        width: 80%;
        min-height: 164vw;
        background-image: url(../assets/images/tour/game-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: relative;

        .game-rewards {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12vw;

          .left-rewards {
            display: flex;
            flex-direction: column;
            gap: 4vw;
            position: relative;
            top: 6vw;
          }
          .right-rewards {
            display: flex;
            flex-direction: column;
            gap: 4vw;
            position: relative;
            top: 17vw;
            left: 5vw;
          }
        }

        .bottom-sec {
          // position: absolute;
          // top: 138vw;
          // left: 0;
          // right: 0;

          position: absolute;
          top: 138vw;
          left: 3vw;
          right: 0;
          display: flex;
          justify-content: flex-end;
          gap: 2vw;
          width: 80%;
          align-items: center;
          .moving-ship {
            width: 11vw;
            position: relative;
            // left: 9vw;
          }
          .travel-btn {
            width: 21vw;
            height: 9vw;
            background-image: url(../assets/images/tour/travel-button.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          span {
            font-size: 5vw;
            font-family: "EvilEmpire";
            color: white;
            position: absolute;
            top: 15vw;
            left: 52vw;
          }
        }

        .path1 {
          width: 17vw;
          position: absolute;
          top: 116vw;
          left: 32vw;
        }
        .path2 {
          width: 17vw;
          position: absolute;
          top: 102vw;
          left: 31vw;
        }
        .path3 {
          width: 17vw;
          position: absolute;
          top: 93vw;
          left: 31vw;
        }
        .path4 {
          width: 17vw;
          position: absolute;
          top: 82vw;
          left: 33vw;
        }
        .path5 {
          width: 17vw;
          position: absolute;
          top: 70vw;
          left: 31vw;
        }

        .path6 {
          width: 17vw;
          position: absolute;
          top: 58vw;
          left: 33vw;
        }
        .path7 {
          width: 17vw;
          position: absolute;
          top: 45vw;
          left: 32vw;
        }
        .path8 {
          width: 17vw;
          position: absolute;
          top: 30vw;
          left: 31vw;
        }
        .path9 {
          width: 17vw;
          position: absolute;
          top: 20vw;
          left: 31vw;
        }

        .from0To1 {
          animation: zeroTo1Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .from1To2 {
          animation: oneTo2Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .from2To3 {
          animation: twoTo3Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .from3To4 {
          animation: threeTo4Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .from4To5 {
          animation: fourTo5Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .from5To6 {
          animation: fiveTo6Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .from6To7 {
          animation: sixTo7Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .from7To8 {
          animation: sevenTo8Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .from8To9 {
          animation: eightTo9Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .from9To10 {
          animation: nineTo10Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .onePos {
          top: -24vw;
        }

        .twoPos {
          top: -34vw;
          left: -35vw;
        }

        .threePos {
          top: -48vw;
        }

        .fourPos {
          top: -59vw;
          left: -35vw;
        }
        .fivePos {
          top: -71vw;
          left: 0vw;
        }

        .sixPos {
          top: -83vw;
          left: -36vw;
        }
        .sevenPos {
          // top: -97vw;
          // left: 9vw;

          top: -97vw;
          left: -1vw;
        }
        .eightPos {
          top: -106vw;
          left: -35vw;
        }
        .ninePos {
          top: -120vw;
          left: -1vw;
        }
        .tenPos {
          top: -131vw;
          left: -35vw;
        }

        @keyframes zeroTo1Anim {
          0% {
            top: 0vw;
          }
          100% {
            top: -24vw;
          }
        }

        @keyframes oneTo2Anim {
          0% {
            top: -24vw;
            left: 0vw;
            // transform: rotate(-78deg);
            transform: rotate(-61deg);
          }

          80% {
            transform: rotate(-61deg);
          }

          100% {
            top: -34vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes twoTo3Anim {
          0% {
            // top: -34vw;
            // left: -26vw;
            // transform: rotate(-78deg);
            transform: rotate(61deg);

            top: -34vw;
            left: -35vw;
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -48vw;
            left: 0;
            transform: rotate(0deg);
          }
        }

        @keyframes threeTo4Anim {
          0% {
            top: -48vw;
            left: 0vw;

            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -59vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes fourTo5Anim {
          0% {
            top: -59vw;
            left: -35vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -71vw;
            left: 0vw;
            transform: rotate(0deg);
          }
        }
        @keyframes fiveTo6Anim {
          0% {
            top: -71vw;
            left: 0vw;
            // transform: rotate(78deg);
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }

          100% {
            top: -83vw;
            left: -36vw;
            transform: rotate(0deg);
          }
        }

        @keyframes sixTo7Anim {
          0% {
            top: -83vw;
            left: -36vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -97vw;
            left: -1vw;
            transform: rotate(0deg);
          }
        }

        @keyframes sevenTo8Anim {
          0% {
            top: -97vw;
            left: -1vw;
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -106vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes eightTo9Anim {
          0% {
            top: -106vw;
            left: -35vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -120vw;
            left: -1vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nineTo10Anim {
          0% {
            top: -120vw;
            left: -1vw;
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -131vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        // .reward1{
        //   position: absolute;
        //   top: 113vw;
        //   right: 9vw;
        // }
        // .reward3{
        //   position: absolute;
        //   top: 88vw;
        //   right: 9vw;
        // }

        // .reward5{
        //   position: absolute;
        //   top: 63vw;
        //   right: 9vw;
        // }

        // .reward7{
        //   position: absolute;
        //   top: 38vw;
        //   right: 9vw;
        // }

        // .reward9{
        //   position: absolute;
        //   top: 13vw;
        //   right: 9vw;
        // }
      }
    }
    .nep-game-sec {
      position: relative;
      top: 18vw;
      color: white;
      font-family: "PoppinsMedium";
      p {
        width: 60%;
        margin: 0 auto;
        font-size: 4vw;
      }
      .game-bg {
        width: 80%;
        min-height: 164vw;
        background-image: url(../assets/images/tour/game-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: relative;

        .game-rewards {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12vw;

          .left-rewards {
            display: flex;
            flex-direction: column;
            gap: 4vw;
            position: relative;
            top: 6vw;
          }
          .right-rewards {
            display: flex;
            flex-direction: column;
            gap: 4vw;
            position: relative;
            top: 17vw;
            left: 5vw;
          }
        }

        .bottom-sec {
          position: absolute;
          top: 138vw;
          left: 3vw;
          right: 0;
          display: flex;
          justify-content: flex-end;
          gap: 2vw;
          width: 80%;
          align-items: center;
          .moving-ship-nep {
            width: 11vw;
            position: relative;
          }
          .travel-btn {
            width: 21vw;
            height: 9vw;
            background-image: url(../assets/images/tour/travel-button.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          span {
            font-size: 5vw;
            font-family: "EvilEmpire";
            color: white;
            position: absolute;
            top: 15vw;
            left: 52vw;
          }
        }

        .path1 {
          width: 17vw;
          position: absolute;
          top: 116vw;
          left: 32vw;
        }
        .path2 {
          width: 17vw;
          position: absolute;
          top: 102vw;
          left: 31vw;
        }
        .path3 {
          width: 17vw;
          position: absolute;
          top: 93vw;
          left: 31vw;
        }
        .path4 {
          width: 17vw;
          position: absolute;
          top: 82vw;
          left: 33vw;
        }
        .path5 {
          width: 17vw;
          position: absolute;
          top: 70vw;
          left: 31vw;
        }

        .path6 {
          width: 17vw;
          position: absolute;
          top: 58vw;
          left: 33vw;
        }
        .path7 {
          width: 17vw;
          position: absolute;
          top: 45vw;
          left: 32vw;
        }
        .path8 {
          width: 17vw;
          position: absolute;
          top: 30vw;
          left: 31vw;
        }
        .path9 {
          width: 17vw;
          position: absolute;
          top: 20vw;
          left: 31vw;
        }

        .nepfrom0To1 {
          animation: nepzeroTo1Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .nepfrom1To2 {
          animation: neponeTo2Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .nepfrom2To3 {
          animation: neptwoTo3Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .nepfrom3To4 {
          animation: nepthreeTo4Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .nepfrom4To5 {
          animation: nepfourTo5Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .nepfrom5To6 {
          animation: nepfiveTo6Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .nepfrom6To7 {
          animation: nepsixTo7Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .nepfrom7To8 {
          animation: nepsevenTo8Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }
        .nepfrom8To9 {
          animation: nepeightTo9Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .nepfrom9To10 {
          animation: nepnineTo10Anim;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          // animation-fill-mode: forwards;
        }

        .onePos {
          top: -24vw;
        }

        .twoPos {
          top: -34vw;
          left: -35vw;
        }

        .threePos {
          top: -48vw;
        }

        .fourPos {
          top: -59vw;
          left: -35vw;
        }
        .fivePos {
          top: -71vw;
          left: 0vw;
        }

        .sixPos {
          top: -83vw;
          left: -36vw;
        }
        .sevenPos {
          top: -97vw;
          left: -1vw;
        }
        .eightPos {
          top: -106vw;
          left: -35vw;
        }
        .ninePos {
          top: -120vw;
          left: -1vw;
        }
        .tenPos {
          top: -131vw;
          left: -35vw;
        }

        @keyframes nepzeroTo1Anim {
          0% {
            top: 0vw;
          }
          100% {
            top: -24vw;
          }
        }

        @keyframes neponeTo2Anim {
          0% {
            top: -24vw;
            left: 0vw;
            // transform: rotate(-78deg);
            transform: rotate(-61deg);
          }

          80% {
            transform: rotate(-61deg);
          }

          100% {
            top: -34vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes neptwoTo3Anim {
          0% {
            // top: -34vw;
            // left: -26vw;
            // transform: rotate(-78deg);
            transform: rotate(61deg);

            top: -34vw;
            left: -35vw;
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -48vw;
            left: 0;
            transform: rotate(0deg);
          }
        }

        @keyframes nepthreeTo4Anim {
          0% {
            top: -48vw;
            left: 0vw;

            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -59vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nepfourTo5Anim {
          0% {
            top: -59vw;
            left: -35vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -71vw;
            left: 0vw;
            transform: rotate(0deg);
          }
        }
        @keyframes nepfiveTo6Anim {
          0% {
            top: -71vw;
            left: 0vw;
            // transform: rotate(78deg);
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }

          100% {
            top: -83vw;
            left: -36vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nepsixTo7Anim {
          0% {
            top: -83vw;
            left: -36vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -97vw;
            left: -1vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nepsevenTo8Anim {
          0% {
            top: -97vw;
            left: -1vw;
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -106vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nepeightTo9Anim {
          0% {
            top: -106vw;
            left: -35vw;
            transform: rotate(61deg);
          }
          80% {
            transform: rotate(61deg);
          }
          100% {
            top: -120vw;
            left: -1vw;
            transform: rotate(0deg);
          }
        }

        @keyframes nepnineTo10Anim {
          0% {
            top: -120vw;
            left: -1vw;
            transform: rotate(-61deg);
          }
          80% {
            transform: rotate(-61deg);
          }
          100% {
            top: -131vw;
            left: -35vw;
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .tour-lb {
    width: 90%;
    // min-height: 184vw;
    position: relative;
    width: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url("../assets//images/event-gifting/lb-bg.png");
    margin-top: 20vw;

    .title {
      width: 84%;
      position: relative;
      // left: 7vw;
      top: -19vw;
    }

    .lb-restWinners {
      overflow: hidden;
      // height: 151vw;
      max-height: 151vw;
      position: relative;
      top: -19vw;
      width: 90%;
      left: 3vw;
    }

    .lb-restWinners::-webkit-scrollbar {
      width: 1vw;
      background-color: gray;
    }

    /* Track */
    .lb-restWinners::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 1vw;
    }

    /* Handle */
    .lb-restWinners::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 2vw;
    }

    /* Handle on hover */
    .lb-restWinners::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }
    .seeMore {
      position: relative;
      top: -13vw;
    }
  }
}
